@use '../abstracts/variables' as v;

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body
body {
  background-color: v.$red;
  color: v.$black;
  font-family: v.$text-font-stack;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  padding: 0.5rem;
  a {
    color: darken(v.$red, 10%);
    font-weight: 700;
    text-decoration: none;
    &:hover,
    &:focus {
      border-bottom: 2px solid v.$red;
    }
  }
}

// Wrapper
.wrapper {
  background-color: v.$white;
  border: 5px solid v.$black;
  border-radius: 50px;
}

// Container
.container {
  margin: 0 auto;
  padding: 1rem;
}
